﻿@model ChatJobsity.Models.Room

@{
    ViewBag.Title = Model.Name;
}

<h2>@Html.DisplayFor(model => model.Name)</h2>

<div>
    <h4>Room</h4>
    <hr />
    <div class="container">
        <div class="row">
            <div id="chat__contact_list" class="col-xs-12 col-md-3">
                <aside class="main visible-md visible-lg">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="panel panel-default users__bar">
                                <div class="panel-heading users__heading">
                                    Contacts (@Model.Participants.Count)
                                </div>
                                <div class="">
                                    <ul id="contacts">
                                        @foreach (var participant in @Model.Participants)
                                        {
                                            <li>@participant.User.UserName</li>
                                        }
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </aside>
            </div>
            <div id="chat__body" class="col-xs-12 col-md-9">
                <div class="row">
                    <div class="col-12">
                        <div class="row">
                            <div class="col">
                                <ul id="discussion" class="list-group"><li>Loading...</li></ul>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    <div class="form-row">
                                        <textarea id="message" placeholder="Type your message" class="form-control"></textarea>
                                        <button class="btn btn-primary" id="sendmessage">Send</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <p>
            @Html.ActionLink("Back to List", "Index", null, new { id = "BackToList" })
        </p>
    </div>
</div>
@section scripts {
    <!--Script references. -->
    <!--The jQuery library is required and is referenced by default in _Layout.cshtml. -->
    @Scripts.Render("~/bundles/signal")
    <!--Reference the autogenerated SignalR hub script. -->
    <script src="~/signalr/hubs"></script>
    <!--SignalR script to update the chat page and send messages.-->
    <script>
        var messages = [];
        function getMessageFormatted(time, name, message) {
            var messageStr = '<li class="list-group-item">' + htmlEncode(time) + ' - <strong>' + htmlEncode(name) + '</strong>: ' + htmlEncode(message) + '</li>';
            return messageStr;
        }
        function addToMessages(messageStr) {
            messages.push(messageStr);
            if (messages.length > 50) {
                messages.shift(); // removes the first element from an array
            }
            $('#discussion').html(messages.join(''));
        }
        $(function () {
            // Reference the auto-generated proxy for the hub.
            var chat = $.connection.chatHub;
            var roomId = @Model.ID;
            @foreach (var message in ViewBag.messages)
            {
                @:messages.push(getMessageFormatted("@message.CreatedPretty", "@message.ParticipantPretty", "@message.Value"));
            }
            // Create a function that the hub can call back to display messages.
            chat.client.addChatMessage = function (time, name, message) {
                // Add the message to the page.
                var messageStr = getMessageFormatted(time, name, message);
                addToMessages(messageStr);
            };
            chat.client.addChatInfo = function (name, message) {
                // Add the message to the page.
                var messageStr = ('<li class="list-group-item"><i>' + htmlEncode(name) + ' ' + htmlEncode(message) + '</i></li>');
                addToMessages(messageStr);
            };
            chat.client.updateContactList = function (list) {
                $('#contacts').html('');
                list.forEach(function (item) {
                    $('#contacts').append('<li>' + htmlEncode(item) + '</li>');
                })
            }
            chat.client.getCurrentRoom = function () {
                return roomId;
            }
            // Set initial focus to message input box.
            $('#message').focus();
            // Start the connection.
            $.connection.hub.start().done(function () {
                var test = chat.server.joinRoom(roomId);
                $('#sendmessage').click(function () {
                    // Call the Send method on the hub.
                    var message = $('#message').val();
                    chat.server.send(roomId, message);
                    // Clear text box and reset focus for next comment.
                    $('#message').val('').focus();
                });
                $('#BackToList').click(function (e) {
                    e.preventDefault();
                    chat.server.leaveRoom(roomId).done(function () {
                        window.location = e.target.href;
                    }).fail(function (error) {
                        window.location = e.target.href;
                        console.log('Invocation of leaveRoom failed. Error: ' + error);
                    });
                });
            });
        });
        // This optional function html-encodes messages for display in the page.
        function htmlEncode(value) {
            var encodedValue = $('<div />').text(value).html();
            return encodedValue;
        }
    </script>
}
